/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

@font-face {
    font-family: 'Jaapokki';
    src: url('../fonts/Jaapokki-Regular.ttf') format('truetype'),
         url('../fonts/Jaapokki-Regular.otf') format('opentype'),
         url('../fonts/jaapokki-regular-webfont.woff2') format('woff2'),
         url('../fonts/jaapokki-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'Lato', sans-serif;
}

a:hover {
  cursor: pointer;
}

.navbar-main {
  background: none;
  border-color: transparent !important;
  font-family: 'Lato', sans-serif;
  width: 100vw;
  font-size: 1.5em;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#bs-example-navbar-collapse-1 > ul > li > a {
  padding-top: 30px;
  color: #545874;
  transition: color 0.25s;
}

#bs-example-navbar-collapse-1 > ul > li > a:hover {
  color: #ffffff;
}

.navbar-toggle {
  background: transparent;
  border-color: transparent !important;
  padding-top: 15px;
}

.navbar-toggle:hover,.navbar-toggle:focus  {
  background: transparent !important;
  border-color: transparent !important;
  padding-top: 15px;
}


.navbar-toggle> .icon-bar {
  width: 30px;
  height: 4px;
}

.navbar-toggle> .icon-bar+.icon-bar {
  margin-top: 6px;
}

.navbar-brand>img {
  max-width: 200px;
}

.navbar-collapse.in, .navbar-collapse.collapsing {
  background: #171c32;
  width: 120%;
  margin-left: -35px;
  padding-left: 35px;
  margin-top: 20px;
}

.section.header {
  background: #545874;
  min-height: 100vh;
}

.section.footer {
  background: #545874;
}

.section-card {
  min-height: calc(50vh - 0px);
  display: flex;
  flex-grow: 1;
  padding: 0px;
  margin: 0px;
}
.section-card > div {
  width: 100%;
  padding: 60px;
}

.table-row {
  display: flex;
  flex-wrap: wrap;
}

.multicolumn {
  display: flex;
  flex-direction: column;
}

.multicolumn>div {
  flex-grow: 1;
}

.blue {
  background: #171c32;
  color: #ffffff;
}

.grey {
  background: #e7e7e7;
}

.grey.image-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-img {
  background-image: url("../img/header-small.jpg");
  background-size: cover;
}

#made-in-sg {
  text-align: right;
}

#made-in-sg>h3 {
  opacity: 0.1;
  font-size: 1.25em;
}

#anquan-section {
  display: flex;
  align-items: flex-end;
  padding-right: 10%;
}

#anquan-section>h1 {
  font-family: 'Jaapokki';
  font-size: 5em;
}

#tagline-section {
  padding-right: 10%;
}

#tagline-section>h3 {
  font-size: 2em;
  font-weight: 100;
}

.grey>img {
  width: 100%;
  max-width: 300px;
  opacity: 0.6;
}

.grey>h2 {
  color: #171c32;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 2em;
}

.grey>h3 {
  color: #171c32;
  margin-top: 0px;
  opacity: 0.5;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.grey>p,.grey>ul>li,.grey>a {
  color: #171c32;
  font-size: 1.2em;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.profile>h2,  .profile>h3, .profile>h4 {
  text-align: center;
}

.profile>p {
}

.profile>img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #202020;
  opacity: 1;
}

.blue>h2 {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 2em;
}

.blue>p,.blue>ul>li,.blue>a {
  color: #ffffff;
  font-size: 1.5em;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
}
.contact-form>input,.contact-form>textarea {
  background: rgba(84, 88, 116, 0.3);
  border: 0px transparent;
  padding: 20px;
  font-size: 1.5em;
  margin-top: 20px;
  margin-right: 20px;
  flex-grow: 1;

}

.contact-form>input:focus,.contact-form>textarea:focus {
  outline-color: #545874;
}

.button,.button.submit, .button.clear {
  margin-top: 20px;
  margin-right: 20px;
  background: #545874;
  font-size: 1.5em;
  border: none;
  flex-grow: 1;
  -webkit-transition: background 0.25s, color 0.25s; /* Safari */
  transition: background 0.25s, color 0.25s;
}

.button:hover,.button.submit:hover, .button.clear:hover {
  background: #FFFFFF;
  color: #171c32;
  font-size: 1.5em;
  border: none;
  flex-grow: 1;
}

.address>p {
  margin-top: 30px;
  margin-bottom: 0px;
}

.address>p+p {
  margin: 0px;
}

.market-process {
  padding: 0px;
}

.market-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.market-list>img {
  width: 50%;
  opacity: 0.5;
}

.market-list>.head {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.market-list>.description {
  padding-top: 0px;
  margin-top: 0px;
}

.process-item {
  align-items: baseline;
  text-transform: uppercase;
  font-weight: bold;
}

.process-point {
  float: left;
  margin-top: 5px;
  height: 13px;
  width: 13px;
  border: 4px solid #202020;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 10px;
}

.process-point+p {
  margin-left: 33px;
}

.partners {
  text-align: center;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.partners-list>img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  max-height: 100px;
}

#last-card {
  background-image: url("../img/address.jpg");
  background-size: cover;
}

@media screen and (min-width: 992px) {
  .process-line {
    margin-left: 0px;
    margin-top: 9px;
    border-left: 4px solid #202020;
    height: 350%;
  }

  .section-card > .pad-left {
    width: calc(100% - 20px);
    margin-left: 20px;
  }

  .section-card > .pad-right {
    width: calc(100% - 20px);
    margin-right: 20px;
  }

  .section-card > .pad-left.pad-right {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }

  .section-card > .pad-top {
    margin-top: 20px;
  }

  .section-card > .pad-bottom {
    margin-bottom: 20px;
  }

  .section-card > .pad-top.pad-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 991px) {

  * {
    text-align: center;
  }

  .process-item>p {
    text-align: left;
  }

  #anquan-section {
    justify-content: center;
  }

  .section-card {
    width: 100%;
  }

  .section-card > div {
    padding: 20px;
  }

  .section-card > .pad-s-left {
    width: calc(100% - 20px);
    margin-left: 20px;
  }

  .section-card > .pad-s-right {
    width: calc(100% - 20px);
    margin-right: 20px;
  }

  .section-card > .pad-s-left.pad-s-right {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }

  .section-card > .pad-s-top {
    margin-top: 20px;
  }

  .section-card > .pad-s-bottom {
    margin-bottom: 20px;
  }

  .section-card > .pad-s-top.pad-s-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .grey>h2, .blue>h2 {
    font-size: 1.3em;
  }

  .grey>p, .grey>ul>li {
    font-size: 1em;
    text-align: left;
  }

  .contact-form {
    margin-right: -20px;
  }

  .contact-form>input, .contact-form>textarea {
    font-size: 1.2em;
  }

  #anquan-section, #tagline-section {
    padding-right: 20px;
  }

  .profile>img {
    max-width: 200px;
  }

}

/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
